* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222222;
	color: white;
	width: 100%;
	background-image: url("moon.jpg");
	background-size: cover;
}

h3 {
	font-size: 30px;
	margin-top: 20px;
}

#div-error {
	margin-top: 190px;
	display: flex;
	flex-direction: column;
}

h4 {
	font-size: 30px;
	margin-bottom: 0px;
}

h1 {
	font-size: 300px;
	font-weight: 1000px;
	margin-bottom: 10px;
}

#img-div {
	margin-bottom: 40px;
	text-align: center;
}

#img-content {
	border: 4px solid white;
	border-radius: 40px;
	width: 95%;
}
